.banner {
    width: 100%;
    height: 340px;
    display: block;
    background-size: 1440px;
    align-items: center;
}

#welcome.banner {
    background-image: url("../../public/banner.png");
}

#survey.banner {
    background-image: url("../../public/survey-banner.png")
}