.banner {
    background-image: url("../../public/banner.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px; 
    background-size: cover;
    background-position: center;
    color: white; 
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
  }